body {
    margin: auto;
    background-color: #FDFDFD;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
}
a {
  color: #f44336;
  text-decoration: none;
}
a:hover {
  color: #e53935;
  text-decoration: underline;
}


nav {
  text-align: center;
  padding: .3em 0 .3em 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 5px;
  padding: 5px;
  display: inline;
  list-style-position: inside;
  border: 1px solid #EAEAEA;
}

/* LINKS ON NAV*/


/*
nav ul li a {
    color: #f44336;
    text-decoration: none;
}*/

#name {
  color: white;
}
.center {
  width: 100%;
  margin: auto;
  text-align: center;
}
.avatar {
  margin: 1em;
  border-radius: 50%;
  max-width: 35%;
  max-height: 35%;
}
.transparent {
  background-color: transparent;
}
.grey-text {
  color: #212121;
}
.red {
  background-color: #f44336;
}
.red-text {
  color: #f44336;
}

/* OCTOCAT STYLE */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* NO MORE OCTOCAT STYLE */
