/* =================== BODY ================== */
body {
  margin: auto;
  background: #FDFDFD;
  max-width: 600px;
  /*CENTER*/
  width: 100%;
  margin: auto;
  text-align: center;
  /*TEXT*/
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #212121;
}
/* =========================================== */
/* ================== HEADER ================= */
.avatar {
  margin: 1em;
  border-radius: 50%;
  max-width: 35%;
  max-height: 35%;
}

.short-description {
  font-style: italic;
}
/* =========================================== */
/* ================== CONTACT ================ */
.contact-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-links li {
  margin: 5px;
  padding: 5px;
  display: inline;
  list-style-position: inside;
}

.contact-links li a {
  color: inherit;
  text-decoration: none;
}
.contact-links li a:hover {
  color: #424242;
}
/* =========================================== */
/* ==================== HR =================== */
hr {
  height: 2px;
  color: #f44336;
  background: #f44336;
  font-size: 0;
  border: 0;
}
/* =========================================== */
/* ================== LINKS ================== */
a {
  color: #f44336;
  text-decoration: none;
}

a:hover {
  color: #e53935;
  text-decoration: underline;
}
/* =========================================== */
/* ============= FORK ME ON GITHUB =========== */
.octicon {
  color: #FDFDFD;
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
/* =========================================== */
