 @import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
/* HTML & BODY*/
html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #F4F4F4 0%, hsla(40, 4%, 95%, 1) 100%);
}
body{
  font-family: 'Raleway', sans-serif;
  max-width: 600px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-flow: column;
  color: #212121;
}
/* HEADER */
header{
  order: 1;
  margin-top: 5rem;
}
.avatar{
  margin: 1rem;
  width: 15rem;
  height: 15rem;
  border-radius: 10%;
}
/* NAV */
nav{
  order: 2;
}
.contact{
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact li {
  margin: 5px;
  padding: 5px;
  display: inline;
  list-style-position: inside;
}
.contact li a {
  color: inherit;
  text-decoration: none;
}
.contact li a:hover i{
  /*color: #424242;*/
  animation: hue 1.5s linear infinite;
}
/* SEcTIONS */
.project{
  order: 3;
}
.hackathon{
  order: 4;
}
/* FOOTER */
footer{
  order: 5;
}

/* ANIMATIONS */
@keyframes hue {
  0% {color: hsl(0, 50%, 50%);}
  10% {color: hsl(30, 50%, 50%);}
  20% {color: hsl(60, 50%, 50%);}
  30% {color: hsl(90, 50%, 50%);}
  40% {color: hsl(120, 50%, 50%);}
  50% {color: hsl(150, 50%, 50%);}
  60% {color: hsl(180, 50%, 50%);}
  70% {color: hsl(210, 50%, 50%);}
  80% {color: hsl(240, 50%, 50%);}
  90% {color: hsl(270, 50%, 50%);}
}
