@keyframes hue-color {
  0% {color: hsla(0, 50%, 50%, 1);}
  10% {color: hsla(30, 50%, 50%, 1);}
  20% {color: hsla(60, 50%, 50%, 1);}
  30% {color: hsla(90, 50%, 50%, 1);}
  40% {color: hsla(120, 50%, 50%, 1);}
  50% {color: hsla(150, 50%, 50%, 1);}
  60% {color: hsla(180, 50%, 50%, 1);}
  70% {color: hsla(210, 50%, 50%, 1);}
  80% {color: hsla(240, 50%, 50%, 1);}
  90% {color: hsla(270, 50%, 50%, 1);}
  100% {color: hsla(0, 50%, 50%, 1);}
}
@keyframes hue-background {
  0% {background: hsla(0, 50%, 50%, 1);}
  10% {background: hsla(30, 50%, 50%, 1);}
  20% {background: hsla(60, 50%, 50%, 1);}
  30% {background: hsla(90, 50%, 50%, 1);}
  40% {background: hsla(120, 50%, 50%, 1);}
  50% {background: hsla(150, 50%, 50%, 1);}
  60% {background: hsla(180, 50%, 50%, 1);}
  70% {background: hsla(210, 50%, 50%, 1);}
  80% {background: hsla(240, 50%, 50%, 1);}
  90% {background: hsla(270, 50%, 50%, 1);}
  100% {background: hsla(0, 50%, 50%, 1);}
}
@keyframes hue-fill {
  0% {fill: hsla(0, 50%, 50%, 1);}
  10% {fill: hsla(30, 50%, 50%, 1);}
  20% {fill: hsla(60, 50%, 50%, 1);}
  30% {fill: hsla(90, 50%, 50%, 1);}
  40% {fill: hsla(120, 50%, 50%, 1);}
  50% {fill: hsla(150, 50%, 50%, 1);}
  60% {fill: hsla(180, 50%, 50%, 1);}
  70% {fill: hsla(210, 50%, 50%, 1);}
  80% {fill: hsla(240, 50%, 50%, 1);}
  90% {fill: hsla(270, 50%, 50%, 1);}
  100% {fill: hsla(0, 50%, 50%, 1);}
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
