/*
 * BODY
 */
html {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, whitesmoke 0%, $whitesmokedarker 100%);
}
body {
  @include column;
  color: $tertiary-color;
  font: $font-size $font-family;
  max-width: 900px;
  text-align: center;
  margin: auto;
}
