/*
 * HEADER
 */
header {
  @include row;
  order: 1;
  margin-top: 5rem;

  #avatar{
    order: 1;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: 10%;
  }
  span{
    order: 2;
    @include column;
    h1{
      order: 1;
      color: $primary-color;
      margin-bottom: 0;
    }
    h2{
      order: 2;
      color: $secondary-color;
      font-style: italic;
    }
    nav{
      order: 3;
      text-align: center;
      list-style: none;
      margin: 1rem;
      padding: 0;
      li {
        margin: 0.5rem;
        @include button;
        display: inline;
        list-style-position: inside;
      }
    }

  }
}
