//COLORS
$primary-color: hsla(200, 19%, 18%, 1);
$secondary-color: hsla(199, 18%, 33%, 1);
$tertiary-color: hsla(200, 18%, 26%, 1);

$whitesmokedarker: hsla(40, 4%, 95%, 1);
$whitesmokeevenmoredarker: hsla(0, 0%, 88%, 1);
$link-color: hsla(203, 100%, 46%, 1);
$almostwhite: hsla(0, 0%, 99%, 1);

// $text-color: hsla(0, 0%, 13%, 1);

//FONTS
$font-family: 'Raleway', sans-serif;
$font-size: larger;
