@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import 'mixins';
@import 'variables';
@import 'links';
@import 'animations';
@import 'githubcorner';
@import 'font-awesome/font-awesome';
@import 'body';
@import 'header';
@import 'content';

#blog-button{
  @include buttonfull;
}

#content{
  div{
    a{
      span{
        h1{
          text-align: left;
          margin-bottom: 0;
          text-transform: uppercase;
          display: inline;
          clear:none;
        }
        h5{
          font-family: 'Libre Baskerville', serif;
          font-weight: 300;
          display: inline;
          clear:none;
          font-style: italic;
          color: $whitesmokeevenmoredarker
        }
        h4{
          margin-top: 0;
        }
      }
    }
    a:hover{
      text-decoration: none;
    }
  }
}
