footer
  p
    | Did you found a bug? 
    a(href='https://github.com/elementh/') Let me know!
    | .
  p
    a(href='https://github.com/elementh/') MIT License
    |  — Copyright (c) 2017 Lucas Maximiliano Marino 
