footer
  p
    | Did you found a bug? 
    a(href='https://github.com/elementh/') Let me know!
    | .
  p
    | Copyright (c) 2017 Lucas Maximiliano Marino
      a(href='https://github.com/elementh/') MIT License
