footer
  p
    | Did you found a bug? 
    a(href='https://github.com/elementh/elementh.github.io/issues/new?&body=Don%27t%20forget%20to%20add%20a%20descriptive%20title!') Let me know!
    | .
  p
    a(href='https://github.com/elementh/elementh.github.io/blob/master/LICENSE') MIT License
    |  — Copyright (c) 2017 Lucas Maximiliano Marino 
