header
  img#avatar(src='https://s.gravatar.com/avatar/211befa21afbe283db9e11e321bcc316?s=512', alt='avatar')
  span
    h1 Lucas Maximiliano Marino
    h2 web developer, student and hackathon lover
    nav
      li#blog-button
        a(href='index.html')
          i.fa.fa-newspaper-o.fa-fw
          |  blog
      li#projects-button
        a(href='projects.html')
          i.fa.fa-github.fa-fw
          |  projects
      li#about-button
        a(href='about.html')
          i.fa.fa-user-o.fa-fw
          |  about me
      li#contact-button
        //- a(href='mailto:lucasmmarino@icloud.com?subject=contact')
        a(href='contact.html')
          i.fa.fa-envelope-o.fa-fw
          |  contact
