extends ../partials/layout.pug
block title
  title about me — Lucas Maximiliano Marino
block style
  link(href='css/about.css', rel='stylesheet', type='text/css')
block sectiontitle
  h1 about me
block content
  p Hello! My name is Lucas and as you can see in my tagline, I consider myself a (full-stack) web developer. I tend to use Node.JS because somehow I ended up liking javascript quite a lot — but I also known python, C, PHP and a little bit of Java. I'm currently learning Rust among other things.

  p From time to time you may see an update in the blog, probably about something I think is worth talking about or maybe about something I just learned and feel excited.
  
  p Currently based in Barcelona but I love to travel, Italy and Finland are my favorites places in the world.
  
  p I also like to participate in hackathons, 
    a(href='hackathons.html')
      | here
    |  you'll find a list of the ones I've been to.
  
  p Don't hesitate to 
    a(href='contact.html')
      | reach out
    | .
  p P.S. I'm a huge fan of Doctor Who — it may not be an important fact but this is my webpage so ... 
