extends ../partials/layout.pug
block title
  title contact — Lucas Maxiimiliano Marino
block style
  link(href='css/contact.css', rel='stylesheet', type='text/css')
block sectiontitle
  h1 contact
block content
  p
    | You can contact me by 
    a(href='mailto:lucasmmarino@icloud.com?subject=contact')
      | email
    |  — I'll try to answer as fast as possible! Consider using my 
    a(href='lucasmmarino.gpg-key')
      | public GPG key
    |  to sign and encrypt email you send me.
  p
    | You can also find me at 
    a(href='https://github.com/elementh/')
      | linkedin
    | , 
    a(href='https://github.com/elementh/')
      | github
    |  or even a hackathon!
