extends ../partials/layout.pug
block title
  title hackathons — Lucas Maxiimiliano Marino
block style
  link(href='css/hackathons.css', rel='stylesheet', type='text/css')
block sectiontitle
  h1 hackathons
block content
  span
    p
      a(href='https://hackupc.com/') HackUPC 2016
      |  &mdash; 
      a.location(href='https://www.google.es/search?q=Barcelona%2C+Spain') Barcelona
      | , February 2016
  span
    p
      a(href='https://hackupc.com/') HackUPC Fall2016
      |  &mdash; 
      a.location(href='https://www.google.es/search?q=Barcelona%2C+Spain') Barcelona
      | , October 2016
  span
    p
      a(href='https://hackjunction.com/') HackJunction 2016
      |  &mdash; 
      a.location(href='https://www.google.es/search?q=Helsinki%2C+Finland') Helsinki
      | , November 2016
