extends ../partials/layout.pug
block title
  title blog — Lucas Maxiimiliano Marino
block sectiontitle
  h1 blog
block content
  a(href='articles/usingGPGkeypairs.html')
    span
      h1 Using GPG key pairs
      h5 Wednesday, January 4 2017
      h4 What is GnuPG(GPG) and how to use it.
